.plan {

  &_label {
    display: block;
    max-width: 228px;
    width: 100%;

    &:not(:last-child) {
      margin-right: 23px;
    }
  }

  &__inner-wrapper {
    max-width: 1150px;
  }

  &__container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &__left {
    max-width: 255px;
    width: 100%;
    position: sticky;
    top: 20px;
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  &__item {
    margin: 0;
    padding: 0;
    opacity: 0.4;
    border-bottom: 1px solid #83888F;
    margin-bottom: 24px;
    padding-bottom: 24px;
    width: 100%;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      opacity: 1;
    }

    &:last-child {
      margin: 0;
      padding: 0;
      border: none;
    }
  }

  &__item-link {
    display: flex;
    align-items: center;
    text-decoration: none;
  }

  &__item-num {
    margin: 0;
    font-family: 'Fraunces';
    font-size: 24px;
    line-height: 32px;
    color: $dark-cyan;
    margin-right: 28.5px;
  }

  &__item-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    color: $dark-grey;
  }

  &__item--active {
    opacity: 1;
  }

  &__right {
    max-width: 730px;
    width: 100%;
  }

  &__r-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__r-item {
    margin: 0;
    padding: 0;
    margin-bottom: 88px;

    & > .plan__form {
      display: none;
    }
  }

  &__r-item--open {
    margin: 0;
    padding: 0;
    margin-bottom: 88px;

    & > .plan__form {
      display: flex;
    }

    & .plan__r-btn {
      transform: rotate(180deg);
    }
  }

  &__r-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 56px;
  }

  &__r-heading {
    font-family: 'Fraunces';
    font-style: normal;
    margin: 0;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #83888F;
  }

  &__r-btn {
    border: none;
    outline: none;
    background: none;
    cursor: pointer;

    &:hover {
      opacity: 0.6;
    }
  }

  &__r-arrow {
  }

  &__form {
    display: flex;
    justify-content: space-between;
  }

  &__input {
    display: none;
    &:checked + &-span {
      background-color: $dark-cyan;
      color: #FEFCF7;

      .plan__span-heading {
        color: #FFFFFF;
      }
    }
  }

  &__input-span {
    padding: 32px 28px 84px 28px;
    background: #F4F1EB;
    border-radius: 8px;
    color: $dark-grey;
    display: inline-block;
    transition: all 0.3s ease;

    &:hover {
      background-color: #FDD6BA;
    }
  }

  &__span-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 32px;
    display: block;
    margin-bottom: 24px;
    color: inherit;
    width: 175px;
  }

  &__span-text {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: inherit;
  }

  &__order {
    background-color: #333D4B;
    max-width: 730px;
    width: 100%;
    padding: 27px 64px;
    margin-bottom: 40px;
  }

  &__order-text {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.5;
    margin-bottom: 8px;
  }

  &__order-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #FFFFFF;
    width: 602px;
  }

  &__order-span {
    color: $dark-cyan;
  }

  &__btn {
    margin-left: 520px;
    margin-bottom: 168px;
  }

  &__modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
  }

  &__inner-modal {
    max-width: 540px;
  }

  &__modal-heading {
    margin: 0;
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 48px;
    color: #FFFFFF;
    background: #333D4B;
    border-radius: 8px 8px 0px 0px;
    padding: {
      top: 48px;
      bottom: 40px;
      left: 45px;
      right: 56px;
    };
  }

  &__modal-info {
    padding: 56px;
    background-color: #fff;
  }

  &__modal-text {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 40px;
    color: #83888F;
    margin: 0;
    margin-bottom: 7px;
  }

  &__modal-desc {
    margin: 0;
    font-family: 'Barlow';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #333D4B;
    mix-blend-mode: normal;
    opacity: 0.8;
    margin-bottom: 47px;
  }

  &__modal-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__modal-price {
    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 36px;
    margin: 0;
    color: #333D4B;
  }

  &__modal-btn {
    min-width: 217px;
    max-width: 250px;
  }

  &__modal--active {
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .plan {

    &_label {
      display: block;
      max-width: 228px;
      width: 100%;

      &:not(:last-child) {
        margin-right: 23px;
      }
    }

    &__inner-wrapper {
      max-width: 1150px;
    }

    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 689px;
      width: 100%;
    }

    &__left {
      max-width: 255px;
      width: 100%;
      position: sticky;
      top: 20px;
      display: none;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {
      margin: 0;
      padding: 0;
      opacity: 0.4;
      border-bottom: 1px solid #83888F;
      margin-bottom: 24px;
      padding-bottom: 24px;
      width: 100%;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 1;
      }

      &:last-child {
        margin: 0;
        padding: 0;
        border: none;
      }
    }

    &__item-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &__item-num {
      margin: 0;
      font-family: 'Fraunces';
      font-size: 24px;
      line-height: 32px;
      color: $dark-cyan;
      margin-right: 28.5px;
    }

    &__item-heading {
      font-size: 32px;
      line-height: 48px;
    }

    &__item--active {
      opacity: 1;
    }

    &__right {
      max-width: 730px;
      width: 100%;
    }

    &__r-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &__r-item {
      margin: 0;
      padding: 0;
      margin-bottom: 88px;
      border-radius: 8px;

      & > .plan__form {
        display: none;
      }
    }

    &__r-item--open {
      margin: 0;
      padding: 0;
      margin-bottom: 88px;

      & > .plan__form {
        display: flex;
      }

      & .plan__r-btn {
        transform: rotate(180deg);
      }
    }

    &__r-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 56px;
    }

    &__r-heading {
      font-family: 'Fraunces';
      font-style: normal;
      margin: 0;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #83888F;
    }

    &__r-btn {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }

    &__r-arrow {
    }

    &__form {
      display: flex;
      justify-content: space-between;
    }

    &__input {
      display: none;
      &:checked + &-span {
        background-color: $dark-cyan;
        color: #FEFCF7;

        .plan__span-heading {
          color: #FFFFFF;
        }
      }
    }

    &__input-span {
      padding: 32px 28px 84px 28px;
      background: #F4F1EB;
      border-radius: 8px;
      color: $dark-grey;
      display: inline-block;
      transition: all 0.3s ease;

      &:hover {
        background-color: #FDD6BA;
      }
    }

    &__span-heading {
      margin: 0;
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      display: block;
      margin-bottom: 24px;
      color: inherit;
      width: 175px;
    }

    &__span-text {
      margin: 0;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: inherit;
    }

    &__order {
      background-color: #333D4B;
      max-width: 730px;
      width: 100%;
      padding: 27px 44px;
      margin-bottom: 67px;
      border-radius: 8px;
    }

    &__order-text {
      margin: 0;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      color: #FFFFFF;
      mix-blend-mode: normal;
      opacity: 0.5;
      margin-bottom: 8px;
    }

    &__order-heading {
      margin: 0;
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: #FFFFFF;
      width: 602px;
    }

    &__order-span {
      color: $dark-cyan;
    }

    &__btn{
      margin-left: 240px;
      min-width: 217px;
      max-width: 300px;
      margin-bottom: 144px;
    }

    &__modal {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 999;
    }

    &__inner-modal {
      max-width: 540px;
    }

    &__modal-heading {
      margin: 0;
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #FFFFFF;
      background: #333D4B;
      border-radius: 8px 8px 0px 0px;
      padding: {
        top: 48px;
        bottom: 40px;
        left: 45px;
        right: 56px;
      };
    }

    &__modal-info {
      padding: 56px;
      background-color: #fff;
    }

    &__modal-text {
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: #83888F;
      margin: 0;
      margin-bottom: 7px;
    }

    &__modal-desc {
      margin: 0;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #333D4B;
      mix-blend-mode: normal;
      opacity: 0.8;
      margin-bottom: 47px;
    }

    &__modal-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__modal-price {
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 36px;
      margin: 0;
      color: #333D4B;
    }

    &__modal-btn {
      min-width: 217px;
      max-width: 250px;
    }

    &__modal--active {
      display: flex;
    }

    &__modal-inner-price {
      display: none;
    }
  }
}

@media only screen and (max-width: 430px) {
  .plan {

    &_label {
      display: block;
      max-width: 228px;
      width: 100%;

      &:not(:last-child) {
        margin-right: 23px;
      }
    }

    &__inner-wrapper {
      max-width: 1150px;
    }

    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 689px;
      width: 100%;
    }

    &__left {
      max-width: 255px;
      width: 100%;
      position: sticky;
      top: 20px;
      display: none;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {
      margin: 0;
      padding: 0;
      opacity: 0.4;
      border-bottom: 1px solid #83888F;
      margin-bottom: 24px;
      padding-bottom: 24px;
      width: 100%;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 1;
      }

      &:last-child {
        margin: 0;
        padding: 0;
        border: none;
      }
    }

    &__item-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &__item-num {
      margin: 0;
      font-family: 'Fraunces';
      font-size: 24px;
      line-height: 32px;
      color: $dark-cyan;
      margin-right: 28.5px;
    }

    &__item-heading {
      font-size: 32px;
      line-height: 48px;
    }

    &__item--active {
      opacity: 1;
    }

    &__right {
      max-width: 730px;
      width: 100%;
    }

    &__r-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &__r-item {
      margin: 0;
      padding: 0;
      margin-bottom: 88px;
      border-radius: 8px;
      width: 689px;

      & > .plan__form {
        display: none;
      }
    }

    &__r-item--open {
      margin: 0;
      padding: 0;
      margin-bottom: 88px;

      & > .plan__form {
        display: flex;
      }

      & .plan__r-btn {
        transform: rotate(180deg);
      }
    }

    &__r-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 56px;
    }

    &__r-heading {
      font-family: 'Fraunces';
      font-style: normal;
      margin: 0;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #83888F;
    }

    &__r-btn {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }

    &__r-arrow {
    }

    &__form {
      display: flex;
      justify-content: space-between;
    }

    &__input {
      display: none;
      &:checked + &-span {
        background-color: $dark-cyan;
        color: #FEFCF7;

        .plan__span-heading {
          color: #FFFFFF;
        }
      }
    }

    &__input-span {
      padding: 32px 28px 84px 28px;
      background: #F4F1EB;
      border-radius: 8px;
      color: $dark-grey;
      display: inline-block;
      transition: all 0.3s ease;
      width: 328px;

      &:hover {
        background-color: #FDD6BA;
      }
    }

    &__span-heading {
      margin: 0;
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 32px;
      display: block;
      margin-bottom: 24px;
      color: inherit;
      width: 175px;
    }

    &__span-text {
      margin: 0;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: inherit;
    }

    &__order {
      background-color: #333D4B;
      max-width: 730px;
      width: 100%;
      padding: 27px 44px;
      margin-bottom: 67px;
      border-radius: 8px;
      width: 689px;
    }

    &__order-text {
      margin: 0;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      text-transform: uppercase;
      color: #FFFFFF;
      mix-blend-mode: normal;
      opacity: 0.5;
      margin-bottom: 8px;
    }

    &__order-heading {
      margin: 0;
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: #FFFFFF;
      width: 602px;
    }

    &__order-span {
      color: $dark-cyan;
    }

    &__btn{
      margin-left: 240px;
      min-width: 217px;
      max-width: 300px;
      margin-bottom: 144px;
    }

    &__modal {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 999;
    }

    &__inner-modal {
      max-width: 540px;
    }

    &__modal-heading {
      margin: 0;
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 40px;
      line-height: 48px;
      color: #FFFFFF;
      background: #333D4B;
      border-radius: 8px 8px 0px 0px;
      padding: {
        top: 48px;
        bottom: 40px;
        left: 45px;
        right: 56px;
      };
    }

    &__modal-info {
      padding: 56px;
      background-color: #fff;
    }

    &__modal-text {
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: #83888F;
      margin: 0;
      margin-bottom: 7px;
    }

    &__modal-desc {
      margin: 0;
      font-family: 'Barlow';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 26px;
      color: #333D4B;
      mix-blend-mode: normal;
      opacity: 0.8;
      margin-bottom: 47px;
    }

    &__modal-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__modal-price {
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 36px;
      margin: 0;
      color: #333D4B;
    }

    &__modal-btn {
      min-width: 217px;
      max-width: 250px;
    }

    &__modal--active {
      display: flex;
    }

    &__modal-inner-price {
      display: none;
    }
  }
}

@media only screen and (max-width: 400px) {
  .plan {

    &_label {
      display: block;
      max-width: 228px;
      width: 100%;
      margin-bottom: 16px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &__inner-wrapper {
      max-width: 1150px;
    }

    &__container {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      max-width: 689px;
      width: 100%;
    }

    &__left {
      max-width: 255px;
      width: 100%;
      position: sticky;
      top: 20px;
      display: none;
    }

    &__list {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    &__item {
      margin: 0;
      padding: 0;
      opacity: 0.4;
      border-bottom: 1px solid #83888F;
      margin-bottom: 24px;
      padding-bottom: 24px;
      width: 100%;

      &:hover {
        opacity: 0.6;
      }

      &:active {
        opacity: 1;
      }

      &:last-child {
        margin: 0;
        padding: 0;
        border: none;
      }
    }

    &__item-link {
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    &__item-num {
      margin: 0;
      font-family: 'Fraunces';
      font-size: 24px;
      line-height: 32px;
      color: $dark-cyan;
      margin-right: 28.5px;
    }

    &__item-heading {
      font-size: 32px;
      line-height: 48px;
    }

    &__item--active {
      opacity: 1;
    }

    &__right {
      max-width: 730px;
      width: 100%;
    }

    &__r-list {
      margin: 0;
      padding: 0;
      list-style-type: none;
    }

    &__r-item {
      margin: 0;
      padding: 0;
      margin-bottom: 88px;
      border-radius: 8px;
      width: 328px;

      & > .plan__form {
        display: none;
      }
    }

    &__r-item--open {
      margin: 0;
      padding: 0;
      margin-bottom: 88px;

      & > .plan__form {
        display: flex;
      }

      & .plan__r-btn {
        transform: rotate(180deg);
      }
    }

    &__r-top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 56px;
    }

    &__r-heading {
      font-size: 24px;
      line-height: 28px;
      width: 240px;
    }

    &__r-btn {
      border: none;
      outline: none;
      background: none;
      cursor: pointer;

      &:hover {
        opacity: 0.6;
      }
    }

    &__r-arrow {
    }

    &__form {
      display: flex;
      flex-direction: column;
    }

    &__input {
      display: none;
      &:checked + &-span {
        background-color: $dark-cyan;
        color: #FEFCF7;

        .plan__span-heading {
          color: #FFFFFF;
        }
      }
    }

    &__input-span {
      padding: 24px 25px 24px 25px;
      background: #F4F1EB;
      border-radius: 8px;
      color: $dark-grey;
      display: inline-block;
      transition: all 0.3s ease;

      &:hover {
        background-color: #FDD6BA;
      }
    }

    &__span-heading {
      margin-bottom: 8px;
    }

    &__span-text {
      width: 278px;
    }

    &__order {
      background-color: #333D4B;
      max-width: 730px;
      width: 100%;
      padding: 32px 25px;
      margin-bottom: 56px;
      border-radius: 8px;
      width: 328px;
    }

    &__order-text {
    }

    &__order-heading {
      margin: 0;
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 24px;
      line-height: 40px;
      color: #FFFFFF;
      width: 279px;
    }

    &__order-span {
      color: $dark-cyan;
    }

    &__btn{
      margin-left: 55px;
      min-width: 217px;
      max-width: 300px;
      margin-bottom: 120px;
    }

    &__modal {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background-color: rgba(0, 0, 0, 0.5);
      display: none;
      align-items: center;
      justify-content: center;
      z-index: 999;
      width: 400px;
      padding-right: 24px;
      padding-left: 24px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
    }

    &__inner-modal {
      max-width: 327px;
      width: 100%;
    }

    &__modal-heading {
      font-size: 28px;
      line-height: 32px;
      padding: {
        top: 28px;
        bottom: 28px;
        left: 24px;
        right: 68px;
      };
    }

    &__modal-info {
      padding: 40px 24px 24px 24px;
      background-color: #fff;
    }

    &__modal-text {
      font-size: 24px;
      line-height: 40px;
      margin-bottom: 3px;
    }

    &__modal-desc {
      font-size: 15px;
line-height: 25px;
    }

    &__modal-bottom {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &__modal-price {
      font-family: 'Fraunces';
      font-style: normal;
      font-weight: 900;
      font-size: 32px;
      line-height: 36px;
      margin: 0;
      color: #333D4B;
      display: none;
    }

    &__modal-btn {
      min-width: 279px;
      max-width: 300px;
      margin-left: -1px;
    }

    &__modal--active {
      display: flex;
    }

    &__modal-inner-price {
      display: inline-block;
    }
  }
}